@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*font-family: 'Handjet', cursive;*/

.navbar{
  font-family: 'Handjet', cursive;
  font-size: 30px;
  text-transform: uppercase;
  color: #0C457A;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
  
}
.navbar .a{
  color: #0C457A;
}
.navbar .a:hover{
  color: #F4DD4B;
}
.active{
  color: #F6C616;
  border-bottom: 3px dashed #F6C616  ;
 
}
.navbar-brand{
  font-weight: 500;
  font-family: 'Handjet', cursive;
  font-size: 50px;
  letter-spacing: 3px;
}
.footer{
  color:#F6C616;
  padding: 15px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,53,102,1) 9%, rgba(12,70,123,1) 33%, rgba(12,69,122,1) 53%, rgba(11,80,133,1) 70%, rgba(0,212,255,1) 100%);
}
.footer a{
  text-decoration: none;
  color:#F6C616 ;
  padding: 10px;
}
footer a:hover{
  color: white;
  border-bottom: 1px dashed white;
}
.pnf-btn{
  color: #F6C616;
  border:2px dashed #0C457A;
  padding: 15px;
  margin-top: 20px;
  text-decoration: none;
}
.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}
.product-link{
  text-decoration: none !important;
  color: black !important;
}